#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;overflow: visible !important;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
#cboxOverlay{background:#eee; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;overflow: visible !important;}
#cboxContent{margin:0;background:#fff;box-shadow: 0 0 10px rgba(0,0,0,.3);}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:8px solid #fff; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;display:none !important;}
#cboxCurrent{display:none !important;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; display: block;transition-property:none;}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:-60px; margin-top:-32px; background:url(../images/controls.png) no-repeat -128px 0; width:64px; height:75px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:-192px 0;}
#cboxNext{position:absolute; top:50%; right:-60px; margin-top:-32px; background:url(../images/controls.png) no-repeat 0 0; width:64px; height:75px; text-indent:-9999px;}
#cboxNext:hover{background-position: -64px 0;}
#cboxClose{position:absolute; top:0; right:0; display:block; background:url(../images/controls.png) no-repeat -256px 0; width:32px; height:32px; text-indent:-9999px;}
#cboxClose:hover{background-position:-256px -32px;}
#evigallery-main {
	clear: both;
	text-align: center;
}
#evigallery-main .evigallery-container {
	clear: both;
	display:inline-block;
	margin: 0 auto;
	overflow: hidden;
}
#evigallery-main .evigallery-inline-items {
	display: none;
}
#evigallery-main .evigallery-items {
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 150px;
	height: 150px;
	overflow:hidden;
	cursor: pointer;
	margin: 10px;
	padding: 0;
	border: 3px solid #ffffff;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
#cboxLoadedContent img.evigallery-photo,
#evigallery-main .evigallery-items img {
	width: 100%;
	height: auto;
	max-width: 100%;
	padding:0;
	margin:0;
	border-width: 0;
}
#evigallery-main .evigallery-items-title {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 150px;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	padding: 10px;
	color: #fff;
	background: rgba(0,0,0,0.5);
}
#evigallery-main .evigallery-items:hover .evigallery-items-title{
	position: absolute;
	left: 0;
}
#evigallery-main .evigallery-items .evigallery-items-title div{
	position: relative;
	left: -100%;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 90%;
	transition-duration: 400ms;
	transition-property: left;
	transition-timing-function: ease;
}
#evigallery-main .evigallery-items:hover .evigallery-items-title div{left: 0;}
